*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
var
parts
bin
sdist
develop-eggs
production
.installed.cfg
lib
lib64
coverage

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


config/redis.conf
config/config.js
config/nginx*
config/*.ini
config/ssl
config/rabbit*
downloads
.max_settings
src
erl_crash.dump
